<head>
  <title>colourcode - find your colour scheme</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="colourco.de is an online designer tool, which allows you to easily and intuitively combine colours.">
  <meta name="keywords" content="color, colour, scheme, colorscheme, colourscheme, design, designer, palette, colourset, colorset, webcolours, webcolors, web, blind, live, preview, zaku, colorpicker, color code, colour code, convert, hsl, hsv, XYZ, Yxy, rgb, hex, cmy, cmyk, colourcode, colorcode">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-precomposed.png" />
  <meta property="og:title" content="Colourco.de - find your colour scheme" />
  <meta property="og:description" content="colourco.de is an online designer tool, which allows you to easily and intuitively combine colours." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="colourco.de" />
  <meta property="og:image" content="http://colourco.de/apple-touch-icon-precomposed.png" />
  <meta property="og:site_name" content="Colourco.de" />
  <meta property="fb:admins" content="100002137777972" />
  <script>if (/*@cc_on!@*/false) { document.documentElement.className += ' ie'; }</script>
</head>
<body>
  {{> app}}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
</body>
