@import 'nib';

/************
* Variables *
************/

:root {
  --menu-back-color: #222;
  --menu-fore-color: #ccc;
  --menu-fore-color-active: #fff;
}

/*************
* Animations *
*************/
@keyframes rotateTopSideFirst {
  40% {
    transform: rotateX(15deg);
    opacity: .8;
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}

@keyframes moveFromTop {
  from {
    transform: translateY(-100%);
  }
}

.page-rotateTopSideFirst {
  transform-origin: 50% 100%;
  animation: rotateTopSideFirst .8s both ease-in;
}

.page-moveFromTop {
  animation: moveFromTop .6s ease both;
}

.page-delay200 {
  animation-delay: .2s;
}

/****************
* Base elements *
****************/
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'myriad-pro', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  tr,
  td {
    padding: 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
body > table {
  height: 100vh;
  width: 100vw;
}

svg {
  width: 2vw;
}

a {
  text-decoration: none;
}

/********
* Pages *
********/

.perspective {
  background-color: #222;
  position: relative;
  perspective: 100vw;
}

.page
  width 100%
  height 100%
  position absolute
  top 0
  visibility hidden
  overflow hidden
  backface-visibility hidden
  transform translate3d(0, 0, 0)
  transform-style preserve-3d

.page-current
.no-js .page
  visibility visible
  z-index 1

.page-ontop
  z-index 999

/* Text Styles, Colors, Backgrounds */

.page h1
  padding-top 0.5em
  font-size 4.4em
  line-height 1
  letter-spacing 6px
  margin 0
  width 100%
  text-align center
  text-transform uppercase
  word-spacing -0.3em
  span
    font-size 40%
    text-transform none
    word-spacing 0
    letter-spacing 0
    display block
    opacity 0.4
  b
    color rgba(0,0,0,0.1)
    font-weight 300

.page-legal
  overflow auto

  > div
    font-size 0.7em
    padding 0.5em 2em

    &:first-child
      padding-top 15em

.page-help, .page-legal, .page-loading
  background #fdc162

  > table
    width 90%
    margin 0 auto
    > tbody > tr
    > tr
      > th
        text-align left

      > td
      > th
        width 33%
        vertical-align top

        > table
          width 100%
          > tbody > tr
          > tr
            > th { width: 15%; }
            > td { width: 85%; }

/*******
* Menu *
*******/
.menu {
  --icon-dark: #fff2;
  --icon-light: #fff4;
  --icon-active: #fff8;

  background-color: var(--menu-back-color);
  color: var(--menu-fore-color);
  overflow: hidden;
  width: 5vh;
  font-size: 1.7vh;
  line-height: 3vh;
  vertical-align: top;
  padding-top: 2vh;

  div, a {
    white-space: nowrap ;
  }

  .link {
    cursor: pointer;
    &:hover {
      color: var(--menu-fore-color-active);
    }
  }

  a {
    color: var(--menu-fore-color);
  }

  svg {
    width: 2.6vh;
    padding-left: 1.2vh;
  }

  path {
    fill: var(--icon-light);
  }

  li {
    white-space: nowrap;
  }

  div, ul ul {
    padding-left: 1vh;
    display: inline-block;
    transition: width 0.5s;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    div, ul ul {
      width: 22vh;
    }
  }

  > ul > li:hover {
    .svg-gear,
    .svg-download,
    .svg-nextcode {
      path {
        fill: var(--icon-active);
      }
    }
  }

  .svg-download {
    vertical-align: 8vh;
  }

  .svg-scheme {
    list-style none
    circle {
      fill var(--icon-dark)
    }
  }

  .menu-none .svg-scheme circle {
    display inherit
  }

  .menu-monochrome,
  .menu-analogic {
    .svg-scheme {
      .w, .nw, .n, .ne, .e {
        fill: var(--icon-light)
      }
    }
  }

  .menu-monochrome-dark .svg-scheme {
    .w, .n, .ne, .e {
      fill: var(--icon-light)
    }
  }

  .menu-monochrome-light .svg-scheme {
    .w, .nw, .n, .e {
      fill: var(--icon-light)
    }
  }

  .menu-analogic-complement,
  .menu-complement {
    .svg-scheme {
      .s, .nw, .n, .ne {
        fill: var(--icon-light)
      }
    }
  }

  .menu-triad .svg-scheme {
    .nw, .n, .ne, .sw, .se {
      fill: var(--icon-light)
    }
  }

  .menu-quad .svg-scheme {
    .sw, .se, .nw, .ne {
      fill: var(--icon-light)
    }
  }

  li:hover,
  li.active {
    &.menu-none {
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(045, 75%, 50%); }
      .e  { fill: hsl(090, 75%, 50%); }
      .se { fill: hsl(135, 75%, 50%); }
      .s  { fill: hsl(180, 75%, 50%); }
      .sw { fill: hsl(225, 75%, 50%); }
      .w  { fill: hsl(270, 75%, 50%); }
      .nw { fill: hsl(315, 75%, 50%); }
    }

    &.menu-monochrome {
      .w  { fill: hsl(0, 85%, 40%); }
      .nw { fill: hsl(0, 80%, 45%); }
      .n  { fill: hsl(0, 75%, 50%); }
      .ne { fill: hsl(0, 70%, 55%); }
      .e  { fill: hsl(0, 65%, 60%); }
    }

    &.menu-monochrome-dark {
      .w  { fill: hsl(0,  0%, 35%); }
      .n  { fill: hsl(0, 70%, 50%); }
      .ne { fill: hsl(0, 75%, 65%); }
      .e  { fill: hsl(0, 80%, 80%); }
    }

    &.menu-monochrome-light {
      .w  { fill: hsl(0, 70%, 35%); }
      .nw { fill: hsl(0, 75%, 50%); }
      .n  { fill: hsl(0, 80%, 65%); }
      .e  { fill: hsl(0,  0%, 80%); }
    }

    &.menu-analogic {
      .w  { fill: hsl(240, 65%, 40%); }
      .nw { fill: hsl(300, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(060, 80%, 55%); }
      .e  { fill: hsl(120, 85%, 60%); }
    }

    &.menu-analogic-complement {
      .nw { fill: hsl(300, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(060, 80%, 55%); }
      .s  { fill: hsl(180, 75%, 50%); }
    }

    &.menu-complement {
      .nw { fill: hsl(000, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(000, 80%, 55%); }
      .s  { fill: hsl(180, 75%, 50%); }
    }

    &.menu-triad {
      .nw { fill: hsl(000, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(000, 80%, 55%); }
      .sw { fill: hsl(120, 75%, 50%); }
      .se { fill: hsl(240, 75%, 50%); }
    }

    &.menu-quad {
      .nw { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(090, 75%, 50%); }
      .se { fill: hsl(180, 75%, 50%); }
      .sw { fill: hsl(270, 75%, 50%); }
    }
  }
}

/***********
* Swatches *
***********/

.swatches {
  display: flex;
  height: 100vh;

  .swatch {
    color: var(--fore-color);
    background-color: var(--back-color);
    width: 100%;
    position: relative;
    font-size: 2vw;

    path {
      fill: var(--fore-color);
    }

    .pos-l,
    .pos-r,
    .pos-t,
    .pos-b,
    .pos-c {
      position: absolute;
      top: 55vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .pos-c { top: calc(50vh - 3vw); }
    .pos-b { top: 95vh; }
    .pos-l { left: 30%; }
    .pos-r { left: 70%; }

    .marker {
      position: absolute;
      background-color: var(--fore-color);
      width: 1vw;
      height: 1vw;
      border-radius: 9999px;
      transform: translate(-50%, -50%);
    }
  }
}
