@import 'nib';

/************
* Variables *
************/

:root {
  --menu-back-color: #222;
  --menu-fore-color: #ccc;
  --menu-fore-color-active: #fff;

  --icon-dark: #fff2;
  --icon-light: #fff4;
  --icon-active: #fff8;
}

/*************
* Animations *
*************/
@keyframes rotateTopSideFirst {
  40% {
    transform: rotateX(15deg);
    opacity: .8;
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(0.8) translateZ(-200px);
    opacity: 0;
  }
}

@keyframes moveFromTop {
  from {
    transform: translateY(-100%);
  }
}

.page-rotateTopSideFirst {
  transform-origin: 50% 100%;
  animation: rotateTopSideFirst .8s both ease-in;
}

.page-moveFromTop {
  animation: moveFromTop .6s ease both;
}

.page-delay200 {
  animation-delay: .2s;
}

/****************
* Base elements *
****************/
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'myriad-pro', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  tr,
  td {
    padding: 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
body > table {
  height: 100vh;
  width: 100vw;
}

svg {
  width: 20px;
}

a {
  text-decoration: none;
}

input {
  &[type='text'] {
    background-color: #fff1;
    border: none;
    color: #fff;
    height: 32px;
    text-align: center;
    margin-right: 1px;
    padding: 0;
  }
}

/********
* Pages *
********/

.perspective {
  background-color: #222;
  position: relative;
  perspective: 100vw;
}

.page
  width 100%
  height 100%
  position absolute
  top 0
  visibility hidden
  overflow hidden
  backface-visibility hidden
  transform translate3d(0, 0, 0)
  transform-style preserve-3d

.page-current
.no-js .page
  visibility visible
  z-index 1

.page-ontop
  z-index 999

/* Text Styles, Colors, Backgrounds */

.page-legal
  width: 540px;
  height: calc(100vh - 100px);
  margin-left: calc(50% - 270px);
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;

  > div
    font-size 0.7em
    padding 0.5em 2em

    &:first-child
      padding-top 15em

.page-help, .page-legal, .page-loading
  background #fff

  > table
    width 90%
    margin 0 auto
    > tbody > tr
    > tr
      > th
        text-align left

      > td
      > th
        width 33%
        vertical-align top

        > table
          width 100%
          > tbody > tr
          > tr
            > th { width: 15%; }
            > td { width: 85%; }

/*******
* Menu *
*******/
.menu {
  background-color: var(--menu-back-color);
  color: var(--menu-fore-color);
  overflow: hidden;
  width: 50px;
  font-size: 16px;
  line-height: 29px;
  vertical-align: top;
  padding-top: 11px;

  div, a {
    white-space: nowrap ;
  }

  .link {
    cursor: pointer;
    &:hover {
      color: var(--menu-fore-color-active);
    }
  }

  a {
    color: var(--menu-fore-color);
  }

  svg {
    width: 28px;
    padding: 2px 6px 2px 11px;
  }

  path {
    fill: var(--icon-light);
  }

  li {
    white-space: nowrap;
  }

  div, ul ul {
    display: inline-block;
    transition: width 0.5s;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    div, ul ul {
      width: 260px;
    }
  }

  > ul > li:hover {
    .svg-gear,
    .svg-download,
    .svg-nextcode {
      path {
        fill: var(--icon-active);
      }
    }
  }

  .svg-download {
    vertical-align: 90px;
  }

  .svg-scheme {
    list-style none
    circle {
      fill var(--icon-dark)
    }
  }

  .menu-nextcode {
    position: absolute;
    bottom: 0;
    ul {
      width: 260px
    }
    li {
      float: right;
      &:first-child {
        float: left;
      }
      svg {
        width: 16px;
      }
      .svg-facebook {
        margin-right: 10px;
      }
    }
  }

  .menu-none .svg-scheme circle {
    display inherit
  }

  .menu-monochrome,
  .menu-analogic {
    .svg-scheme {
      .w, .nw, .n, .ne, .e {
        fill: var(--icon-light)
      }
    }
  }

  .menu-monochrome-dark .svg-scheme {
    .w, .n, .ne, .e {
      fill: var(--icon-light)
    }
  }

  .menu-monochrome-light .svg-scheme {
    .w, .nw, .n, .e {
      fill: var(--icon-light)
    }
  }

  .menu-analogic-complement,
  .menu-complement {
    .svg-scheme {
      .s, .nw, .n, .ne {
        fill: var(--icon-light)
      }
    }
  }

  .menu-triad .svg-scheme {
    .nw, .n, .ne, .sw, .se {
      fill: var(--icon-light)
    }
  }

  .menu-quad .svg-scheme {
    .sw, .se, .nw, .ne {
      fill: var(--icon-light)
    }
  }

  li:hover,
  li.active {
    &.menu-none {
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(045, 75%, 50%); }
      .e  { fill: hsl(090, 75%, 50%); }
      .se { fill: hsl(135, 75%, 50%); }
      .s  { fill: hsl(180, 75%, 50%); }
      .sw { fill: hsl(225, 75%, 50%); }
      .w  { fill: hsl(270, 75%, 50%); }
      .nw { fill: hsl(315, 75%, 50%); }
    }

    &.menu-monochrome {
      .w  { fill: hsl(0, 85%, 40%); }
      .nw { fill: hsl(0, 80%, 45%); }
      .n  { fill: hsl(0, 75%, 50%); }
      .ne { fill: hsl(0, 70%, 55%); }
      .e  { fill: hsl(0, 65%, 60%); }
    }

    &.menu-monochrome-dark {
      .w  { fill: hsl(0,  0%, 35%); }
      .n  { fill: hsl(0, 70%, 50%); }
      .ne { fill: hsl(0, 75%, 65%); }
      .e  { fill: hsl(0, 80%, 80%); }
    }

    &.menu-monochrome-light {
      .w  { fill: hsl(0, 70%, 35%); }
      .nw { fill: hsl(0, 75%, 50%); }
      .n  { fill: hsl(0, 80%, 65%); }
      .e  { fill: hsl(0,  0%, 80%); }
    }

    &.menu-analogic {
      .w  { fill: hsl(240, 65%, 40%); }
      .nw { fill: hsl(300, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(060, 80%, 55%); }
      .e  { fill: hsl(120, 85%, 60%); }
    }

    &.menu-analogic-complement {
      .nw { fill: hsl(300, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(060, 80%, 55%); }
      .s  { fill: hsl(180, 75%, 50%); }
    }

    &.menu-complement {
      .nw { fill: hsl(000, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(000, 80%, 55%); }
      .s  { fill: hsl(180, 75%, 50%); }
    }

    &.menu-triad {
      .nw { fill: hsl(000, 70%, 45%); }
      .n  { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(000, 80%, 55%); }
      .sw { fill: hsl(120, 75%, 50%); }
      .se { fill: hsl(240, 75%, 50%); }
    }

    &.menu-quad {
      .nw { fill: hsl(000, 75%, 50%); }
      .ne { fill: hsl(090, 75%, 50%); }
      .se { fill: hsl(180, 75%, 50%); }
      .sw { fill: hsl(270, 75%, 50%); }
    }
  }
}

/***********
* Swatches *
***********/

.swatches {
  display: flex;
  height: 100vh;

  .swatch {
    flex: auto;
    width: calc(100vw / var(--swatch-count))
    color: var(--fore-color);
    background-color: var(--back-color);
    position: relative;
    font-size: 18px;

    &.add,
    &.add-scheme,
    &.remove-scheme {
      cursor: pointer;
      flex: 0 0 5vw;

      &:hover {
        path {
          fill: var(--icon-active);
        }
      }
    }

    svg {
      margin: 7px;
    }

    path {
      fill: var(--fore-color);
    }

    .svg-plus,
    .svg-minus {
      path {
        fill: var(--icon-light);
      }
    }

    .pos-l,
    .pos-r,
    .pos-t,
    .pos-b,
    .pos-a,
    .pos-c {
      position: absolute;
      top: 50vh;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0.5vw;
      font-size: 0;
    }

    .pos-l,
    .pos-r,
    .pos-t,
    .pos-b {
      cursor: pointer;

      &:hover {
        background-color: var(--fore-color);
        border-radius: 9999px;

        path {
          fill: var(--back-color);
        }
      }
    }

    .pos-c { top: calc(100% - 100px); }
    .pos-b { top: calc(100% - 50px); }
    .pos-l { left: calc(50% - 80px); }
    .pos-r { left: calc(50% + 80px); }
    .pos-c { font-size: 24px; text-transform: uppercase; }

    .marker {
      position: absolute;
      background-color: var(--fore-color);
      width: 1vw;
      height: 1vw;
      border-radius: 9999px;
      transform: translate(-50%, -50%);
    }

    .preview {
      height: 100vh;
      position: relative;
    }

    &.lifted {
      .preview {
        height: calc(100vh - 450px);
      }
    }

    .details {
      height: 450px;
      background-color: #242425;
      color: #ddd;
      text-transform: uppercase;
    }

    .edit-color {
      text-align: center;
      padding: 2px 0;
      &.active {
        color: #fff;
      }
    }

    .hint--left {
      cursor: pointer;
      display: inline-block;
      width: 70px;
      text-align: left;
    }

    input[type='text'] {
      width: 87px;
      font-size: 16px;
      text-transform: uppercase;
      &:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &[data-type='hex'] {
        width: 263px;
      }
      &[data-type='cmyk'] {
        width: 65px;
      }
    }

    .inputs {
      padding: 40px 0;
    }

    input[type='range'] {
      appearance: none;
      background: none;
      width: 260px;

      &::-webkit-slider-runnable-track {
        height: 8px;
        background: linear-gradient(left, var(--bg-0) 0%, var(--bg-1) 10%, var(--bg-2) 20%, var(--bg-3) 30%, var(--bg-4) 40%, var(--bg-5) 50%, var(--bg-6) 60%, var(--bg-7) 70%, var(--bg-8) 80%, var(--bg-9) 90%, var(--bg-10) 100%);
        border-radius: 9999px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #fff;
        width: 20px;
        height: 20px;
        margin-top: -7px;
        border-radius: 999px;
      }
    }

    .sliders {
      table {
        margin: 0 auto;
        width: 340px;
      }
      td:last-child {
        text-align: right;
      }
    }
  }
}
