<template name="download">
  <button class="close">
    {{> svg_cross}}
  </button>
  <h1>Download</h1>
  <ul class="download-options">
    <li>
      <a target="_blank" data-colors="{{colorStr}}" href="#" onclick="setSassExport(this);" class="link">
        {{> svg_sass}}
        <div>Stylesheet</div>
      </a>
    </li>
    <li>
      <a target="_blank" data-colors="{{colorStr}}" href="#" onclick="setPngExport(this);" class="link">
        {{> svg_palette}}
        <div>Color palette</div>
      </a>
    </li>
    <li>
      <a target="_blank" href="{{linkPerma}}" class="link">
        {{> svg_link}}
        <div>Permalink</div>
      </a>
    </li>
  </ul>
</template>