<template name="legal">
  <button class="close">
    {{> svg_cross}}
  </button>
  <h1>Imprint</h1>
  <p>
    <a href="https://nextco.de" target="_blank">nextcode GbR</a>
    <br>Gut Passendorf 41
    <br>06124 Halle (Saale)
    <br>mail:&nbsp;
    <a href="mailto:info@nextco.de">info@nextco.de</a>
    <br>
  </p>
  <h4>Contentwise resp. person</h4>
  <p>Tobias Henschke</p>
  <h4>Website</h4>
  <p><a href="https://twitter.com/st8rmi" target="_blank">Andreas Storm</a> & <a href="https://twitter.com/taminomartinius" target="_blank">Tamino Martinius</a></p>
  <h2>Bibliography</h2>
  <h4>Legal</h4>
  <ul>
    <li>
      <a href="http://www.e-recht24.de/impressum-generator.html" target="_blank">Impressum-Generator</a>&nbsp;von eRecht24.</li>
  </ul>
  <h4>Disclaimer</h4>
  <ul>
    <li>Allgemein:&nbsp;
      <a href="http://www.e-recht24.de/muster-disclaimer.htm" target="_blank">Disclaimer</a>&nbsp;von eRecht24.
      <br>
    </li>
    <li>Google:&nbsp;
      <a href="http://www.google.com/intl/de_ALL/analytics/tos.html" target="_blank">Google Analytics Bedingungen</a>
      <br>
    </li>
  </ul>
  <h2>Privacy</h2>
  <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene
    Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger
    Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte weitergegeben.</p>
  <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken
    aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p>
  <p>Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten durch Dritte zur &Uuml;bersendung von nicht ausdr&uuml;cklich
    angeforderter Werbung und Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen. Die Betreiber der Seiten behalten
    sich ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails,
    vor.</p>
  <h4>Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Google Analytics</h4>
  <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog.
    "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch
    Sie erm&ouml;glichen. Die durch den Cookie erzeugten Informationen &uuml;ber Ihre Benutzung dieser Website werden in der Regel
    an einen Server von Google in den USA &uuml;bertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung
    auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder
    in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum zuvor gek&uuml;rzt.</p>
  <p>Nur in Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google in den USA &uuml;bertragen und dort gek&uuml;rzt. Im Auftrag
    des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports
    &uuml;ber die Websiteaktivit&auml;ten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene
    Dienstleistungen gegen&uuml;ber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser &uuml;bermittelte
    IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt.</p>
  <p>Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen
    Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website vollumf&auml;nglich
    werden nutzen k&ouml;nnen. Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der
    Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern,
    indem sie das unter dem folgenden Link verf&uuml;gbare Browser-Plugin herunterladen und installieren:&nbsp;
    <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>
  <h4>Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Google Adsense</h4>
  <p>Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der Google Inc. ("Google"). Google AdSense
    verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der
    Website erm&ouml;glicht. Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons
    k&ouml;nnen Informationen wie der Besucherverkehr auf diesen Seiten ausgewertet werden.</p>
  <p>Die durch Cookies und Web Beacons erzeugten Informationen &uuml;ber die Benutzung dieser Website (einschlie&szlig;lich Ihrer IP-Adresse)
    und Auslieferung von Werbeformaten werden an einen Server von Google in den USA &uuml;bertragen und dort gespeichert. Diese
    Informationen k&ouml;nnen von Google an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch
    nicht mit anderen von Ihnen gespeicherten Daten zusammenf&uuml;hren.</p>
  <p>Sie k&ouml;nnen die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen
    Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website voll umf&auml;nglich
    nutzen k&ouml;nnen. Durch die Nutzung dieser Website erkl&auml;ren Sie sich mit der Bearbeitung der &uuml;ber Sie erhobenen Daten durch
    Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
</template>
