<template name="menu">
  <div class="menu-item menu-static menu-logo">
    {{> svg_logo}}
    <span><img src="/ColourCode.png?20130621" alt="logo"/></span>
  </div>
  <div
    class="{{menuClass "menu-item menu-static pointer menu-none" "menu-none"}}"
    data-page="1"
    data-page-name="menu-none"
  >
    {{> svg_scheme}}
    <span>free build</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer menu-monochrome' "menu-monochrome"}}"
    data-page="1"
    data-page-name="menu-monochrome"
  >
    {{> svg_scheme}}
    <span>monochrome</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-monochrome-dark"}} menu-monochrome-dark"
    data-page="1"
    data-page-name="menu-monochrome-dark"
  >
    {{> svg_scheme}}
    <span>monochrome &amp; dark gray</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-monochrome-light"}} menu-monochrome-light"
    data-page="1"
    data-page-name="menu-monochrome-light"
  >
    {{> svg_scheme}}
    <span>monochrome &amp; light gray</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-analogic"}} menu-analogic"
    data-page="1"
    data-page-name="menu-analogic"
  >
    {{> svg_scheme}}
    <span>analogic</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-analogic-complement"}} menu-analogic-complement"
    data-page="1"
    data-page-name="menu-analogic-complement"
  >
    {{> svg_scheme}}
    <span>analogic &amp; complement</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-complement"}} menu-complement"
    data-page="1"
    data-page-name="menu-complement"
  >
    {{> svg_scheme}}
    <span>complement</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-triad"}} menu-triad"
    data-page="1"
    data-page-name="menu-triad"
  >
    {{> svg_scheme}}
    <span>triad</span>
  </div>
  <div
    class="{{menuClass 'menu-item menu-static pointer' "menu-quad"}} menu-quad"
    data-page="1"
    data-page-name="menu-quad"
  >
    {{> svg_scheme}}
    <span>quad</span>
  </div>
  <hr  class="menu-item"/>
  <div class="menu-item menu-static menu-save">
    <div>
      {{> svg_download}}
    </div>
    <span>
      <a target="_blank" data-colors="{{colorStr}}" href="#" onclick="setSassExport(this);">
        <div>
          <span class="icon-sass pointer" style="font-size: 1.5em; color: #AAA;">$</span>
        </div>
      </a>
      <a target="_blank" data-colors="{{colorStr}}" href="#" onclick="setLessExport(this);">
        <div>
          <span class="icon-less pointer"></span>
        </div>
      </a>
      <a target="_blank" data-colors="{{colorStr}}" href="#" onclick="setPngExport(this);">
        <div>
          <span class="icon-image pointer"></span>
        </div>
      </a>
      <a target="_blank" href="{{linkPerma}}">
        <div>
          <span class="icon-link pointer"></span>
        </div>
      </a>
    </span>
  </div>
  <hr  class="menu-item"/>
  <div class="{{menuClass 'menu-item' "menu-submenu"}} menu-submenu">
    <div class="icon-menu"></div>
    <span>
      <div>
        <span
          class="icon-help pointer"
          data-page="2"
          data-page-name="menu-submenu"
        ></span>
      </div>
      <a target="_blank" href="https://github.com/Zaku-eu/colourco.de">
        <div>
          <span class="icon-git pointer"></span>
        </div>
      </a>
      <a target="_blank" href="https://github.com/Zaku-eu/colourco.de/issues?state=open">
        <div>
          <span class="icon-bugs pointer"></span>
        </div>
      </a>
      <a href="mailto:dev@zaku.eu">
        <div>
          <span class="icon-mail pointer"></span>
        </div>
      </a>
      <span
        class="icon-legal pointer"
        data-page="3"
        data-page-name="menu-submenu"
      ></span>
    </span>
  </div>
  <hr  class="menu-item"/>
  <div class="menu-item menu-links">
    <div class="icon-author"></div>
    <span>
      <table>
        <tr>
          <td>Tamino Martinius</td>
          <td>
            <div>
              <a target="_blank" href="https://twitter.com/TaminoMartinius" class="icon-twitter"></a>
            </div>
          </td>
          <td>
            <div>
              <a target="_blank" href="http://zaku.eu" class="icon-web"></a>
            </div>
          </td>
          <td>
            <a target="_blank" href="http://codepen.io/Zaku/" class="icon-codepen"></a>
          </td>
        </tr>
        <tr>
          <td>Andreas Storm</td>
          <td>
            <a target="_blank" href="https://twitter.com/st8rmi" class="icon-twitter"></a>
          </td>
          <td>
            <a target="_blank" href="http://andreasstorm.com/" class="icon-web"></a>
          </td>
          <td>
            <a target="_blank" href="http://dribbble.com/andreasstorm" class="icon-dribbble"></a>
          </td>
        </tr>
      </table>
    </span>
  </div>
</template>
