<template name="scheme">
  <div class="scheme count-{{colors.length}}{{#if editActive}} edit-active{{/if}}{{#if isSchemeMode}} scheme-mode{{/if}}">
    <div class="swatches{{#if isSchemeMode}}{{#if editActive}} edit-scheme{{/if}}{{/if}}">
      {{#if isSchemeMode}}
        <div class="swatch remove-scheme" data-index="0">
          <div class="pos-c">
            {{> svg_minus}}
          </div>
        </div>
      {{/if}}
      {{#each colors}}
        <div
          style="
            --back-color: {{colorBack .}};
            --fore-color: {{colorFore .}};
          "
          class="swatch{{#if isLifted $index}} lifted{{/if}}"
          data-index="{{$index}}"
        >
          <div
            class="preview"
          >
            {{#unless isLifted $index}}
              {{#if isSchemeMode}}
                <div class="pos-c">
                  {{getColorTag . displayColorType}}
                </div>
              {{else}}
                {{#unless $first}}
                  <div class="pos-l">
                    {{> svg_left}}
                  </div>
                {{/unless}}
                <div class="pos-c">
                  {{getColorTag . displayColorType}}
                </div>
                <div class="pos-t">
                  {{> svg_trash}}
                </div>
                {{#unless $last}}
                  <div class="pos-r">
                    {{> svg_right}}
                  </div>
                {{/unless}}
              {{/if}}
              {{#if isSchemeMode}}
                {{#if isCenter $index}}
                  {{#unless editActive}}
                    <div class="pos-b">
                      {{> svg_toggles}}
                    </div>
                    <div class="pos-t">
                      {{> svg_trash}}
                    </div>
                  {{/unless}}
                {{/if}}
              {{else}}
                <div class="pos-b">
                  {{> svg_toggles}}
                </div>
              {{/if}}
            {{else}}
              <div class="pos-b">
                {{> svg_toggles}}
              </div>
            {{/unless}}
          </div>
          {{#if isLifted $index}}
            {{#if isSchemeMode}}
              <div
                class="details"
                data-index="{{$index}}"
              >
                <div class="pos-t">
                  scheme root color<br/><br/>
                  {{editColor "hex"  currentColor}}
                  {{editColor "rgb"  currentColor}}
                  {{editColor "hsl"  currentColor}}
                  {{editColor "hsv"  currentColor}}
                  {{editColor "cmy"  currentColor}}
                  {{editColor "cmyk" currentColor}}
                </div>
                <div class="pos-c">
                  {{colorSlider}}
                </div>
              </div>
            {{else}}
              <div
                class="details"
                data-index="{{$index}}"
              >
                <div class="pos-t">
                  {{editColor "hex"  .}}
                  {{editColor "rgb"  .}}
                  {{editColor "hsl"  .}}
                  {{editColor "hsv"  .}}
                  {{editColor "cmy"  .}}
                  {{editColor "cmyk" .}}
                </div>
                <div class="pos-c">
                  {{colorSlider}}
                </div>
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{/each}}
      {{#if isSchemeMode}}
        <div class="swatch add-scheme">
          <div class="pos-c">
            {{> svg_plus}}
          </div>
        </div>
      {{else}}
        {{#if editActive}}
          <div
            class="swatch edit"
            style="
              --back-color: {{colorBack currentColor}};
              --fore-color: {{colorFore currentColor}};
            "
          >
            <div class="pos-c">
              {{getColorTag currentColor displayColorType}}
            </div>
            {{#each colors}}
              <div
                class="marker"
                style="
                  top:  {{markerTop .}};
                  left: {{markerLeft .}};
                "
              ></div>
            {{/each}}
          </div>
          {{else}}
          <div class="swatch add">
            <div class="pos-c">
              {{> svg_plus}}
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
